/* Overall container styling */
.fav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background: #3d2009;
    min-height: 100vh;
}

.favBook {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 60px;
    color: #d7c7a3cc;
    text-align: left;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.book-contain {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* overflow: hidden; */
}

.book-contain:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.NoFav_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    color: #77674b;
    padding-top: 10%;

    font-size: 3rem;
    text-align: center;
    margin-top: 8%;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
}

.NoFav_container .star {
    font-size: 7rem;
    color: #77674b;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 1500px) {
    .book-grid {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns on medium screens */
    }
}

@media (max-width: 950px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on small screens */
    }
}

@media (max-width: 780px) {
    .book-grid {
        grid-template-columns: 1fr;
        /* 1 column on very small screens */
    }
}